#modal {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 88%;
  }
  
  #modal-content {
    position: absolute;
    background-color: #F7E6A0;
    width: 600px;
    min-height: 300px;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }