ul {
    list-style-type: none;
}

.navbar-container {
    display: flex;
    /* position: absolute;
    width: 1440px;
    height: 192px;
    left: 0px;
    top: 0px;  */
}

.navbar-inner-container1 {
    /* display: flex; */
    /* justify-content: space-around; */
    /* position: absolute; */
    /* width: 1440px; */
    /* height: 192px;
    top: 0px; */
    display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-inner-container2 {
    display: flex;
    /* justify-content: space-around; */
}
