ul {
    list-style-type: none;
}

.navbar-container {
    display: flex;
}

.navbar-inner-container1 {
    display: flex;
    justify-content: space-around;
}

.navbar-inner-container2 {
    display: flex;
    justify-content: space-around;
}