.footer-container {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    margin-top: 60px;
    background-color: #f7e6a0;
    font-size: 12px;
    box-shadow: 0 8px 8px 0 rgba(33, 39, 56, 0.2);
    z-index: 1;
}

.about-link:hover {
    transition: all 1s ease-out;
    filter: invert(100%);
}

.damien-link,
.safiya-link,
.ashley-link,
.kimi-link {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size: x-large;
    color: black;
}

.damien-link:hover,
.safiya-link:hover,
.ashley-link:hover,
.kimi-link:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(255, 255, 255, 0.6) 30%, #e1ffc4 50%, rgba(255,255,255,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.damien-links,
.safiya-links,
.ashley-links,
.kimi-links {
    display: flex;
    align-items: center;
}