.search-page_container{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

}

.search-page_songInfo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
    justify-items: column;
    width: 50%;
    margin-left: 40px;
    margin-top: 40px;
    /* margin-bottom: 40px; */
    /* max-width: 970px;
    min-height: 100vh; */
    background-color: white;
    /* margin: 0 auto; */
    /* padding-top: 16px; */
    position: relative;

}

.search-song_data{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DBD8CF;
    box-shadow: inset 0px -26px 50px -30px rgba(247,230,160,0.67);
    cursor: pointer;
}

.song-img{
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 10px;
}

.song-title{
    margin-left: 30px;
    font-weight: bold;
}

.song-artist{
    margin-right: 40px;
    position: absolute;
    /* right: 0; */
}

.search-page_artistInfo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /* width: 25%;
    height: 75%; */
    display: block;
    justify-items: column;
    /* width: 50%; */
    /* margin-right: 0px; */
    margin-left: 450px;
    margin-top: 40px;
    /* margin-bottom: 80px; */
    width: 42%;
    /* padding-right: 16px; */
    /* width: 100%; */
    /* max-width: 970px;
    min-height: 100vh; */
    background-color: white;
    /* margin: 0 auto; */
    /* padding-top: 16px; */
    /* position: relative; */

}

.search-artist_data{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DBD8CF;
    box-shadow: inset 0px -26px 50px -30px rgba(247,230,160,0.67);
    cursor: pointer;
}

.artist-img{
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 10px;
}

.artist-name{
    margin-right: 40px;
    position: absolute;
    /* right: 0; */
}

.song-title, .artist-name, .song-artist{
    margin-top: 25px;
}

.search-page_lyricsInfo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
    justify-items: column;
    /* width: 100%; */
    /* max-width: 970px;
    min-height: 100vh; */
    margin-top: 80px;
    margin-left: 40px;
    background-color: white;
    /* margin: 0 auto;
    padding-top: 16px; */
    /* position: relative; */

}

.search-lyrics_data{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DBD8CF;
    box-shadow: inset 0px -26px 50px -30px rgba(247,230,160,0.67);
    cursor: pointer;
}

.song-title{
    margin-left: 30px;
    font-weight: bold;
}


.album-name{
    margin-left: 30px;
    font-weight: bold;
}

.lyrics{
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    overflow: scroll;
    /* height: 100px;
    width: 100px; */
}

/* input:focus {
    outline: none !important;
}

img {
    outline: none !important;
} */
