.search-page_container{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: white;
    max-width: 970px;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;

}

.search-page_songInfo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
    background-color: #C2FF88;
    margin-left: 20px;
    margin-top: 20px;
    height: 400px;
    width: 400px;

}

.search-page_artistInfo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
    background-color: #C2FF88;
    /* margin-right: 20px; */
    margin-top: 20px;
    right: 0px;
    height: 400px;
    width: 490px;
    position: relative;
}

.search-page_lyricsInfo{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
    background-color: #C2FF88;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 820px;
    width: 930px;
}

.search-song_data{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DBD8CF;
    box-shadow: inset 0px -26px 50px -30px rgba(247,230,160,0.67);
    cursor: pointer;
    position: absolute;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    width: 380px;
    overflow: scroll;
}

.search-artist_data{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DBD8CF;
    box-shadow: inset 0px -26px 50px -30px rgba(247,230,160,0.67);
    cursor: pointer;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    width: 470px;
    overflow: scroll;
}

.artist-name{
    margin-top: 30px;
    margin-left: 90px;
}

.search-lyrics_data{
    display: grid;
    border-bottom: 1px solid #DBD8CF;
    box-shadow: inset 0px -26px 50px -30px rgba(247,230,160,0.67);
    cursor: pointer;
    position: absolute;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    width: 910px;
    height: 100px;
    overflow: scroll;
}

.lyric-container{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* display: block; */
}

.lyrics-img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.lyric-title{
    font-weight: bold;
}

.lyric-artist{
    /* margin: 0 auto; */
}

.album-name{
    /* margin: 0 auto; */
}





.lyrics{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: scroll;
    width: 400px;
    height: 400px;
}





.song-img, .artist-img{
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 10px;
}

.song-title{
    margin-left: 30px;
    font-weight: bold;
}
