.songpage_container {
    background-color: #E1FFC4;
    width: 100%;
}

.songpage_main {
    display: flex;
    width: 100%;
    max-width: 970px;
    min-height: 100vh;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 16px;
}

.songpage-main_left {
    width: 58%;
    padding: 0 16px;
}

.songpage-main_right {
    width: 42%;
    padding-right: 16px;
}