/* --------- container ------- */
.songpage-lyrics_container {
    margin-bottom: 40px;
}

/* --------- buttons ------- */
.songpage-lyrics_buttons-container {
    position: sticky;
    top: 15px;
    background: linear-gradient(to bottom,#fff 80%,rgba(255,255,255,0));
}

.songpage-lyrics_buttons {
    background-color: #fff;
    border: 2.4px solid black;
    padding: 4px 8px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.songpage-lyrics_buttons:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

/* --------- lyrics ------- */
.songpage-lyrics_lyrics {
    margin-top: 24px;
    width: 90%;
    white-space: pre-line;
}

.songpage-lyrics_lyrics p {
    margin-bottom: 20px;
    line-height: 1.25em;
}
