.comments_container {
    width: 80%;
    background-color:  #efcc411e;
    margin-bottom: 40px;
    padding: 15px;
}

/* ------- Comment Heading ------- */
.comments-container_heading {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.comments-container_heading input{
    margin-left: 15px;
    height: 2em;
    width: 30em;
    border: 2px solid #efcc41d3;
    outline: none;
}

.comments_header-default-avatar {
    width: 30px;
    height: 30px;
    background-image: url("https://avatarfiles.alphacoders.com/814/81468.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.comments-header_commenting{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comments-header_commenting textarea{
    overflow: hidden;
    min-height: 50px;
    max-width: 100%;
    margin-bottom: 10px;
    border: 2px solid #efcc41d3;
    outline: none;
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
    padding: 7px;
}

.comments-header_commenting textarea::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12pt;
    padding: 5px;
}

.comments_cancel-button{
    background-color:  #efcc4100;
    color:#c9a209;
    font-weight: bold;
    border: none;
    text-decoration-line: underline;
}

.comments_submit-button{
    background-color:  #efcc4100;
    /* color:#4a8f0a; */
    color:#68d800;
    font-weight: bold;
    border: 2px solid #68d800;
    padding: 7.5px;
    font-size: 12pt;
    outline: none;
}

.comments-header_button-box {
    display: flex;
    justify-content: space-between;
}



/* ---------- Individual Comment ---------- */
.comments-container_comments {

}

.solo-comment_container {
    border-top: 1px solid #EFCC41;
    padding-top: 10px;
    padding-bottom: 10px;
}

.solo-comment_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.solo-comment_comment {
    padding-top: 10px;
    padding-bottom: 10px;
}

.solo-comment_user {
    font-weight: bold;
}

.solo-comment_posted {
    font-size: 9pt;
}

.solo-comment_votes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment-vote_icon-left {
    margin-right: 2.5px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
}

.comment-vote_icon-right {
    margin-left: 2.5px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
}


i.far {
    color: #9a9a9a;
    font-size: 12pt;
}

/* --------- Vote Counter Container --------- */
.comments_being-viewed {
    display: flex;
    border-bottom: 2px solid #68d800;
    max-width: 38%;
    justify-content: center;
}

.comments_being-viewed button{

    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 10pt;
    font-weight: bold;
    color: #68d800;
    padding-bottom: 1px;
    letter-spacing: 0.2em;
    outline: none;
}
