.song-charts {
    /* display: block;
    margin: 0 auto; */
    /* left: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;

}

.chart-headings{
    padding-top: 10px;
    background-color:#F7E6A0;
    width: 100%;
    max-width: 970px;
}

.charts-title{
    font-size: 100px;
}

.charts-trending {
    padding-bottom: 10px;
}

.song-data{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DBD8CF;
    box-shadow: inset 0px -26px 50px -30px rgba(247,230,160,0.67);
    cursor: pointer;
}

.song-index{
    margin-left: 40px;
    margin-top: 25px;
}

.song-img{
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 10px;
}

.song-title, .song-artist{
    margin-top: 25px;
}

.song-title{
    margin-left: 30px;
    font-weight: bold;
}

.song-artist{
    margin-right: 40px;
    position: absolute;
    right: 0;
}


/* .song-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */


.main-page_container {
    background-color: #E1FFC4;
    width: 100%;
    max-width: 970px;
    font-size: 20px;
}

.main-page_center{
    display: block;
    justify-items: column;
    width: 100%;
    max-width: 970px;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    padding-top: 16px;
    position: relative;

}

body{
    background-color: #E1FFC4;
}
