/* ------- container ---------*/
.user-page_container {
    box-sizing: border-box;
    position: relative;
    background-color: #E1FFC4;
    width: 100%;
}

/* ------- background ---------*/
.user-page_header-background {
    position: absolute;
    width: 100%;
    height: 280px;
    opacity: 85%;
    object-fit: cover;
}

.user-page_header-background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-page_header-default-background {
    width: 100%;
    height: 100%;
    background-image: url("https://www.su.rhul.ac.uk/asset/Event/6001/KPop-Banner.jpg");
}

/* --------- main --------- */
.user-page_main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 970px;
    min-height: 100vh;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 70px;
}

/* main-left */
.user-page_main-left {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: 30px;
}

/* main-right */
.user-page_main-right {
    z-index: 1;
    width: 60%;
    padding-top: 330px;
    margin-right: 50px;
}

/* --------- avatar ---------*/
.user-page_header-avatar {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.user-page_header-avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-page_header-default-avatar {
    width: 100%;
    height: 100%;
    background-image: url("https://avatarfiles.alphacoders.com/814/81468.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* --------- username --------- */
.user-page_username {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* --------- edit --------- */
.user-page_edit-button {
    font-size: 16px;
    background-color: white;
    border-style: none;
    border: 2.4px black solid;
    width: 60px;
    padding: 2px 6px;
    margin-right: 5px;
    margin-bottom: 30px;
}

/* --------- bio --------- */
.user-page_bio {
    width: 70%;
    min-height: 30px;
    padding: 20px;
    background-color: #f6e7a0;
    margin-bottom: 60px;
}

/* --------- stats --------- */
.user-page_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 20px;
    background-color: #f6e7a0;
}

/* heading */
.user-page_stats-heading {
    width: 70%;
    text-align: center;
    padding: 0 20px 10px 20px;
    margin-bottom: 15px;
    border-bottom: 1px #999 solid;
}

/* outer container */
.user-page_stats-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* inner container */
.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 15px;
}

.stats-container:hover {
    cursor: pointer;
}

/* content */
.stats-content {
    display: flex;
    align-items: flex-end;
}

.fas {
    color: rgb(0, 0, 0);
    opacity: 60%;
    margin-right: 10px;
}

.stats-number {
    font-size: 24px;
}

/* subtitle */
.stats-subtitle {
    margin-top: 5px;
    font-size: 12px;
}



/* --------- activities --------- */
.user-page_activity-heading {
    padding-bottom: 10px;
    border-bottom: 1px #999 solid;
    margin-bottom: 30px;
}

/* container */
.user-page_activity-container {
    display: flex;
    background-color: #f6e7a0;
    padding: 15px;
    margin-bottom: 15px;
}

.user-page_activity-container:hover {
    cursor: pointer;
}

/* icon */
.activity_icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.activity_icon img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.activity_default-icon {
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/564x/5f/62/52/5f62521afc849378e1582beb5b0a884e.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* info */
.activity_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
}

/* heading */
.activity_heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

/* date */
.activity_date {
    opacity: 60%;
}

/* title */
.activity_content-song {
    font-size: 24px;
}